@font-face{
    font-family: midashi;
    src: url(font/A-OTF-MiGoMB1Std-DeBold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
#top{
    background-image: url(img/background-hotel.png);
    background-repeat: no-repeat;
    min-height: 1022px;
}
#main-title{
    text-align: center;
}
#main-title .maintitle-2{
    display: none;
}
#sub-title p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: midashi;
    font-size: 20px;
    color: rgb(46, 80, 112);
}
.content-title{
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}
.content-title .title01-2{
    display: none;
}
.content-01{
    background-image: url(img/background-content-01.png);
    background-repeat: no-repeat;
    min-height: 1800px;
}
.swiper-slide{
    text-align: center;
}
.swiper-slide img{
    width: 100%;
    max-width: 1070px;
    height: auto;
    object-fit: cover;
}
.swiper-slide p{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: white;
    text-align: center;
}
.note{
    font-size: 13px;
}
.swiper-background{
    background-color: white;
    padding: 30px 30px;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.container [class^="swiper-button-"]::after{
    content: "";
    width: 70px;
    height: 70px;
}
.container .swiper-button-prev{
    left: 6%;
}
.container .swiper-button-prev img{
    width: 100%;
    max-width: 70px;
    height: auto;
    object-fit: cover;
}
.container .swiper-button-next{
    left: 92%;
}
.container .swiper-button-next img{
    width: 100%;
    max-width: 70px;
    height: auto;
    object-fit: cover;
}
.container .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    margin: 0 20px;
}
#container-plan01{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content01-1{
    background-color: white;
    padding: 60px 100px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family: midashi;
    font-size: 18px;
    text-align: left;
}
#button-content01-1{
    position: absolute;
    top: 6%;
    left: 60%;
}
#button-content01-1 a:hover{
    opacity: 90%;
}
.buttonsmall01-1{
    display: none;
}
.bear-content01{
    position: absolute;
    z-index: 2;
    left: 8%;
    bottom: 20%;
}
.bear-content01 .bearsmall01{
    display: none;
}
#container-plan02{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content01-2{
    background-color: white;
    padding: 60px 100px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family: midashi;
    font-size: 18px;
    text-align: left;
}
#button-content01-2{
    position: absolute;
    top: 6%;
    left: 60%;
}
#button-content01-2 a:hover{
    opacity: 90%;
}
.buttonsmall01-2{
    display: none;
}
.content-02{
    background-image: url(img/background-content02.png);
    background-repeat: no-repeat;
    min-height: 1710px;
}
.content-title .title02-2{
    display: none;
}
.parent-flex{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    margin-left: 107px;
    padding: 45px;
}
.child02{
    display: block;
}
.child02 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.smartphone-list{
    display: none;
}
#text-content02{
    background-color: white;
    padding: 50px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#container-plan03{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#bear-content02{
    position: absolute;
    z-index: 2;
    left: 8%;
    bottom: 20%;
}
.bearsmall02{
    display: none;
}
#plan-content02{
    background-color: white;
    padding: 85px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 22px;
    text-align: left;
}
#button-content02{
    position: absolute;
    left: 60%;
    bottom: 4%;
}
#button-content02 a:hover{
    opacity: 90%;
}
#buttonsmall02{
    display: none;
}
.content-03{
    background-image: url(img/background-content03.png);
    background-repeat: no-repeat;
    min-height: 2255px;
}
.content-title .title03-2{
    display: none;
}
#container-textcontent03{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#fox-content03{
    position: absolute;
    right: 0;
    bottom: 55%;
}
.foxbig03{
    display: block;
}
.foxsmall03{
    display: none;
}
#text-content03{
    background-color: white;
    padding: 45px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#container-plan04{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content03-1{
    background-color: white;
    padding: 40px 115px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 18px;
    text-align: left;
}
#button-content03-1{
    position: absolute;
    top: 17%;
    left: 60%;
}
#button-content03-1 a:hover{
    opacity: 90%;
}
#buttonsmall03-1{
    display: none;
}
.bear-content03{
    position: absolute;
    z-index: 2;
    left: 8%;
    bottom: 25%;
}
.bearsmall03{
    display: none;
}
#container-plan05{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content03-2{
    background-color: white;
    padding: 40px 115px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 18px;
    text-align: left;
    left: 30%;
}
#button-content03-2{
    position: absolute;
    top: 17%;
    left: 60%;
}
#button-content03-2 a:hover{
    opacity: 90%;
}
#buttonsmall03-2{
    display: none;
}
.container-titlecontent04{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#bear-content04{
    position: absolute;
    left: 80%;
    top: 50%;
}
.bearsmall04{
    display: none;
}
.content-04{
    background-image: url(img/background-content04.png);
    background-repeat: no-repeat;
    min-height: 2332px;
}
.content-title .title04-2{
    display: none;
}
#container-text041{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#fox-content04-1{
    position: absolute;
    right: 86%;
    bottom: 75%;
}
.foxbig04-1{
    display: block;
}
.foxsmall04-1{
    display: none;
}
#text-content04-1{
    background-color: white;
    padding: 45px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#rating{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#container-text042{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#fox-content04-2{
    position: absolute;
    left: 88%;
    bottom: 72%;
}
.foxbig04-2{
    display: block;
}
.foxsmall04-2{
    display: none;
}
#container-yukiko{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#utensils01{
    position: absolute;
    left: 82%;
    bottom: 80%;
}
.utenbig-1{
    display: block;
}
.utensmall-1{
    display: none;
}
#utensils02{
    position: absolute;
    top: 60%;
    left: 9%;
}
.utenbig-2{
    display: block;
}
.utensmall-2{
    display: none;
}
#rating img{
    width: 100%;
    max-width: 817px;
    height: auto;
    object-fit: cover;
}
#text-content04-2{
    background-color: white;
    padding: 45px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#bottom{
    background-image: url(img/background-coupon.png);
    background-repeat: no-repeat;
    min-height: 787px;
}
#button-1{
    padding: 60px;
    text-align: center;
}
#button-1 img{
    width: 100%;
    max-width: 817px;
    height: auto;
    object-fit: cover;
}
#button-1 a:hover{
    opacity: 90%;
}
#button-2{
    text-align: center;
}
#button-2 ul li{
    list-style-type: none;
    display: inline-block;
}
#button-2 a:hover{
    opacity: 90%;
}
#button-2 img{
    width: 90%;
    height: auto;
    object-fit: cover;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (max-width: 1440px){
    body{
        background-color: white;
    }
    #top{
        background-image: url(img/background-hotel-smtpn.png);
        background-repeat: no-repeat;
        min-height: 615px;
    }
    #main-title .maintitle-1{
        display: none;
        visibility: hidden;
    }
    #main-title .maintitle-2{
        display: block;
        width: 100%;
        max-width: 233px;
        height: auto;
        margin: 0 auto;
        padding-top: 20px;
    }
    #sub-title p{
        position: absolute;
        left: 0;
        top: 62%;
        right: 0;
        text-align: center;
        font-family: midashi;
        font-size: 12px;
        color: rgb(46, 80, 112);
    }
    .content-title{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content-01{
        background-image: url(img/background-content01-smtpn.png);
        background-repeat: no-repeat;
        min-height: 587px;
    }
    .content-title .title01-1{
        display: none;
        visibility: hidden;
    }
    .content-title .title01-2{
        display: block;
        width: 100%;
        max-width: 237px;
        height: auto;
        margin: 0 auto;
    }
    .swiper-background{
        padding: 10px;
    }
    .container [class^="swiper-button-"]::after{
        content: "";
        width: 20px;
        height: 20px;
    }
    .container .swiper-button-prev{
        left: 4%;
    }
    .container .swiper-button-next{
        left: 88%;
    }
    .swiper-slide p{
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 7px;
        color: white;
        text-align: center;
        font-size: 6px;
    }
    .container .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        margin: 0 8px;
    }
    .note{
        font-size: 6px;
    }
    #plan-content01-1{
        background-color: white;
        padding: 10px 20px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family: midashi;
        font-size: 8px;
        text-align: left;
    }
    #plan-content01-2{
        background-color: white;
        padding: 10px 20px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family: midashi;
        font-size: 8px;
        text-align: left;
    }
    #button-content01-1{
        display: none;
        visibility: hidden;
    }
    .buttonsmall01-1{
        display: block;
        position: absolute;
        z-index: 2;
        left: 32%;
    }
    .bear-content01 .bearbig01{
        display: none;
        visibility: hidden;
    }
    .bear-content01 .bearsmall01{
        display: block;
        position: absolute;
        z-index: 2;
    }
    #button-content01-2{
        display: none;
        visibility: hidden;
    }
    .buttonsmall01-2{
        display: block;
        position: absolute;
        z-index: 2;
        left: 32%;
    }
    .content-02{
        background-image: url(img/background-content02-smtpn.png);
        background-repeat: no-repeat;
        min-height: 1197px;
    }
    .content-title .title02-1{
        display: none;
        visibility: hidden;
    }
    .content-title .title02-2{
        display: block;
        width: 100%;
        max-width: 236px;
        height: auto;
        margin: 0 auto;
    }
    .parent-flex{
        display: none;
    }
    .child02{
        display: none;
    }
    .smartphone-list{
        display: block;
        width: 100%;
        max-width: 295px;
        margin: 0 auto;
    }
    .smartphone-list ul li{
        list-style-type: none;
    }
    #text-content02{
        background-color: white;
        padding: 20px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family:midashi;
        font-size: 8px;
        text-align: center;
    }
    #plan-content02{
        background-color: white;
        padding: 20px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family:midashi;
        font-size: 8px;
        text-align: center;
    }
    .bearbig02{
        display: none;
        visibility: hidden;
    }
    .bearsmall02{
        display: block;
        position: absolute;
        z-index: 2;
    }
    #button-content02{
        display: none;
        visibility: hidden;
    }
    #buttonsmall02{
        display: block;
        position: absolute;
        z-index: 2;
        left: 32%;
    }
    .content-03{
        background-image: url(img/background-content03-smtpn.png);
        background-repeat: no-repeat;
        min-height: 674px;
    }
    .content-title .title03-1{
        display: none;
        visibility: hidden;
    }
    .content-title .title03-2{
        display: block;
        width: 100%;
        max-width: 228px;
        height: auto;
        margin: 0 auto;
    }
    .foxbig03{
        display: none;
        visibility: hidden;
    }
    .foxsmall03{
        display: block;
        position: absolute;
        z-index: 2;
    }
    #text-content03{
        background-color: white;
        padding: 20px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family:midashi;
        font-size: 8px;
        text-align: center;
    }
    #plan-content03-1{
        background-color: white;
        padding: 20px 25px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family:midashi;
        font-size: 8px;
        text-align: center;
    }
    #button-content03-1{
        display: none;
        visibility: hidden;
    }
    #buttonsmall03-1{
        display: block;
        position: absolute;
        z-index: 2;
        left: 32%;
    }
    .bearbig03{
        display: none;
        visibility: hidden;
    }
    .bearsmall03{
        display: block;
        position: absolute;
        z-index: 2;
    }
    #plan-content03-2{
        background-color: white;
        padding: 20px 25px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family:midashi;
        font-size: 8px;
        text-align: center;
    }
    #button-content03-2{
        display: none;
        visibility: hidden;
    }
    #buttonsmall03-2{
        display: block;
        position: absolute;
        z-index: 2;
        left: 32%;
    }
    .content-04{
        background-image: url(img/background-content04-smtpn.png);
        background-repeat: no-repeat;
        min-height: 699px;
    }
    .content-title .title04-1{
        display: none;
        visibility: hidden;
    }
    .content-title .title04-2{
        display: block;
        width: 100%;
        max-width: 188px;
        height: auto;
        margin: 0 auto;
    }
    .bearbig04{
        display: none;
        visibility: hidden;
    }
    .bearsmall04{
        display: block;
        position: absolute;
        z-index: 2;
    }
    .foxbig04-1{
        display: none;
        visibility: hidden;
    }
    .foxsmall04-1{
        display: block;
        position: absolute;
        z-index: 2;
    }
    #text-content04-1{
        background-color: white;
        padding: 20px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family:midashi;
        font-size: 8px;
        text-align: center;
    }
    .utenbig-1{
        display: none;
        visibility: hidden;
    }
    .utensmall-1{
        display: block;
        position: absolute;
        z-index: 2;
    }
    .utenbig-2{
        display: none;
        visibility: hidden;
    }
    .utensmall-2{
        display: block;
        position: absolute;
        z-index: 2;
    }
    #rating img{
        width: 100%;
        max-width: 219px;
        height: auto;
        object-fit: cover;
    }
    .foxbig04-2{
        display: none;
        visibility: hidden;
    }
    .foxsmall04-2{
        display: block;
        position: absolute;
        z-index: 2;
    }
    #text-content04-2{
        background-color: white;
        padding: 20px;
        width: 75%;
        margin: 0 auto;
        color: rgb(46, 80, 112);
        font-family:midashi;
        font-size: 8px;
        text-align: center;
    }
    #bottom{
        background-image: url(img/background-coupon-smtpn.png);
        background-repeat: no-repeat;
        min-height: 411px;
    }
    #button-1{
        padding: 10px;
    }
    #button-2{
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }
}
