@media only screen and (max-width: 1440px){
    body{
        background-color: white;
    }
}
@font-face{
    font-family: midashi;
    src: url(font/A-OTF-MiGoMB1Std-DeBold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
#top{
    background-image: url(img/background-hotel.png);
    background-repeat: no-repeat;
    min-height: 1022px;
}
#main-title{
    text-align: center;
}
#sub-title p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: midashi;
    font-size: 18px;
    color: rgb(46, 80, 112);
}
.content-title{
    text-align: center;
    padding-top: 55px;
}
.content-01{
    background-image: url(img/background-content-01.png);
    background-repeat: no-repeat;
    min-height: 1800px;
}
.swiper-slide{
    text-align: center;
}
.swiper-slide p{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: white;
    text-align: center;
}
.note{
    font-size: 13px;
}
.swiper-background{
    background-color: white;
    padding: 30px 30px;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.container [class^="swiper-button-"]::after{
    content: "";
    width: 70px;
    height: 70px;
}
.container .swiper-button-prev{
    left: 6%;
}
.container .swiper-button-next{
    left: 92%;
}
.container .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    margin: 0 20px;
}
#container-plan01{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content01-1{
    background-color: white;
    padding: 60px 100px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family: midashi;
    font-size: 18px;
    text-align: left;
}
#button-content01-1{
    position: absolute;
    top: 6%;
    left: 60%;
}
#button-content01-1 a:hover{
    opacity: 90%;
}
.bear-content01{
    position: absolute;
    z-index: 2;
    left: 8%;
    bottom: 20%;
}
#container-plan02{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content01-2{
    background-color: white;
    padding: 60px 100px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family: midashi;
    font-size: 18px;
    text-align: left;
}
#button-content01-2{
    position: absolute;
    top: 6%;
    left: 60%;
}
#button-content01-2 a:hover{
    opacity: 90%;
}
.content-02{
    background-image: url(img/background-content02.png);
    background-repeat: no-repeat;
    min-height: 1710px;
}
#text-content02{
    background-color: white;
    padding: 50px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#container-plan03{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#bear-content02{
    position: absolute;
    z-index: 2;
    left: 8%;
    bottom: 20%;
}
#plan-content02{
    background-color: white;
    padding: 85px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 22px;
    text-align: left;
}
#button-content02{
    position: absolute;
    left: 60%;
    bottom: 4%;
}
#button-content02 a:hover{
    opacity: 90%;
}
.content-03{
    background-image: url(img/background-content03.png);
    background-repeat: no-repeat;
    min-height: 2255px;
}
#container-textcontent03{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#fox-content03{
    position: absolute;
    right: 0;
    bottom: 55%;
}
#text-content03{
    background-color: white;
    padding: 45px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#container-plan04{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content03-1{
    background-color: white;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 18px;
    text-align: center;
}
#button-content03-1{
    position: absolute;
    top: 17%;
    left: 60%;
}
#button-content03-1 a:hover{
    opacity: 90%;
}
.bear-content03{
    position: absolute;
    z-index: 2;
    left: 8%;
    bottom: 25%;
}
#container-plan05{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#plan-content03-2{
    background-color: white;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 18px;
    text-align: center;
}
#button-content03-2{
    position: absolute;
    top: 17%;
    left: 60%;
}
#button-content03-2 a:hover{
    opacity: 90%;
}
.container-titlecontent04{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#bear-content04{
    position: absolute;
    left: 80%;
    top: 50%;
}
.content-04{
    background-image: url(img/background-content04.png);
    background-repeat: no-repeat;
    min-height: 2332px;
}
#container-text041{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#fox-content04-1{
    position: absolute;
    right: 86%;
    bottom: 75%;
}
#text-content04-1{
    background-color: white;
    padding: 45px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#rating{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#container-text042{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#fox-content04-2{
    position: absolute;
    left: 88%;
    bottom: 72%;
}
#container-yukiko{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#utensils01{
    position: absolute;
    left: 82%;
    bottom: 80%;
}
#utensils02{
    position: absolute;
    top: 60%;
    left: 9%;
}
#text-content04-2{
    background-color: white;
    padding: 45px;
    width: 75%;
    margin: 0 auto;
    color: rgb(46, 80, 112);
    font-family:midashi;
    font-size: 16px;
    text-align: center;
}
#bottom{
    background-image: url(img/background-coupon.png);
    background-repeat: no-repeat;
    min-height: 787px;
}
#button-1{
    padding: 60px;
    text-align: center;
}
#button-1 a:hover{
    opacity: 90%;
}
#button-2{
    text-align: center;
}
#button-2 ul li{
    list-style-type: none;
    display: inline-block;
}
#button-2 a:hover{
    opacity: 90%;
}
#button-2 img{
    width: 90%;
}
